body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 29.2px;
  letter-spacing: 0.6px;
}

.container {
  width: 40%;
  margin: 20px auto;
  border: 1px solid #442da8;
  padding: 20px;
}

.user {
  width: 60%;
  height: 50%;
  margin: 40px auto;
  border-radius: 20px;
  border: 1px solid #888888;
}

.user-image {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.user-info {
  padding: 10px;
}

h1 {
  color: #1d1b84;
  font-size: 35px;
  padding: 20px 10px;
  font-weight: 500;
  text-align: center;
}

.btn {
  padding: 10px 15px;
  display: block;
  margin: 10px auto;
  font-size: 20px;
  border-radius: 10px;
  background-color: #442da8;
  color: #fff;
  outline: none;
  border: none;
  transition: background-color 0.5s ease-in;
}

.btn:hover,
.btn:active {
  outline: none;
  background-color: #3a2692;
}
